
    <div class='row'>
      <div class="col-md-offset-3 col-md-6">
        <form class="form-horizontal" ng-submit="moviesIndexCtrl.search()">
          <div class="form-group col-md-10">
            <label class="sr-only" for="search">Movie Name</label>
            <input ng-model="moviesIndexCtrl.searchTerm" type="text" class="form-control" id="search" placeholder="The Neverending Story">
          </div>
          <div class="col-md-2">
            <button type="submit" class="btn btn-default">Search</button>
          </div>
        </form>
      </div>
    </div>

    <div class='row'>
      <div class="col-sm-6 col-md-4" ng-repeat="movie in moviesIndexCtrl.movieList">
        <movie-card movie="movie"></movie-card>
      </div>
    </div>
  </div>
